
<br>
    <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-success">
      <div class="collapse navbar-collapse d-lg-flex justify-content-center">
        <ul class="navbar-nav">
          <li>
            <span class="navbar-text">
              EcoLogistic - Making a Good Environment |
            </span>
          </li>
          <li>
            <a class="nav-link" href="central-ajuda.html">
              <i class="fa fa-bullhorn"></i>Central de Ajuda
            </a>
          </li>
          <li>
            <a class="nav-link" href="sobre-nos.html"><i class="fa fa-users"></i>Sobre Nós
            </a>
          </li>
          <li>
            <a class="nav-link" href="termos-de-uso.html">
              <i class="fa fa-book"></i>Termos de Uso
            </a>
          </li>
          <li>
            <a class="nav-link" href="entre-em-contato.html">
              <i class="fa fa-envelope"></i>Entre em Contato
            </a>
          </li>
        </ul>
      </div>
    </nav>

