<br>
<footer class="page-footer font-small text-success">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <div class="col-md-3 mb-3">
        <h6 class="font-weight-bold">
          <a class="nav-link text-success" href="sobre-nos.html">
            <i class="fa fa-users"></i>Sobre Nós
          </a>
        </h6>
      </div>

      <div class="col-md-3 mb-3">
        <h6 class="font-weight-bold">
          <a class="nav-link text-success" href="termos-de-uso.html">
            <i class="fa fa-book"></i>Termos de Uso
          </a>
        </h6>
      </div>

      <div class="col-md-3 mb-3">
        <h6 class="font-weight-bold">
          <a class="nav-link text-success" href="central-ajuda.html">
            <i class="fa fa-bullhorn"></i>Central de Ajuda
          </a>
        </h6>
      </div>

      <div class="col-md-3 mb-3">
        <h6 class="font-weight-bold">
          <a class="nav-link text-success" href="entre-em-contato.html">
            <i class="fa fa-envelope"></i>Entre em Contato
          </a>
        </h6>
      </div>

    </div>
    <hr class="rgba-green-light" style="margin: 0 15%;">
  </div>

  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <span> EcoLogistic - Making a Good Environment </span>
  </div>
</footer>
