    <nav class="navbar-default navbar-fixed-bottom">
      <ul class="nav navbar-nav navbar-center">
        <li>
          <a>
            EcoLogistic - Making a Good Enviroment
          </a>
        </li>
        <li>
          <a href="central-ajuda.html">
            <i class="fa fa-bullhorn"></i>Central de Ajuda
          </a>
        </li>
        <li>
          <a href="sobre-nos.html"><i class="fa fa-users"></i>Sobre Nós
          </a>
        </li>
        <li>
          <a href="termos-de-uso.html">
            <i class="fa fa-book"></i>Termos de Uso
          </a>
        </li>
        <li>
          <a href="entre-em-contato.html">
            <i class="fa fa-envelope"></i>Entre em Contato
          </a>
        </li>
      </ul>
    </nav>

