{% extends "app/base_site.html" %}
{% load static %}

{% block title %} Início {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    
    <br>
    <br>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <img class="d-block w-100" src="{% static 'app/img/Eco Logistic.png' %}">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h1></h1>
      </div>
      <div class="card-deck">
        <div class="card border-success mb-3">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card border-success mb-3">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card border-success mb-3">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
    </div>

    <br>

    
  </div>
{% endblock content %}