<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="{% url 'index' %}" class="site_title"><i class="fa fa-leaf"></i> <span>EcoLogistic</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwsUeMCO-OWwtei37A6FYy6QFCb1m_2XD5EiACkcJaBjk7_Du5owYUs7nwDI2KOpGAEw4&usqp=CAU" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Bem-vindo(a),</span>
      <h2>USER</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>Geral</h3>
      <ul class="nav side-menu">
        <li>
          <a href="{% url 'index' %}">
            <i class="fa fa-home"></i>Início
          </a>
        </li>
        <li>
          <a href="publicacao-trabalho.html">
            <i class="fa fa-archive"></i>Publicações
          </a>
        </li>
        <li>
          <a href="anuncio-reciclavel.html">
            <i class="fa fa-bookmark"></i>Meus Anúncios
          </a>
        </li>
        <li>
          <a href="inserir-anuncio.html">
            <i class="fa fa-pencil"></i>Inserir Anúncio
          </a>
        </li>
        <li>
          <a href="perfil-usuario.html">
            <i class="fa fa-user"></i>Perfil
          </a>
        </li>       
      </ul>
    </div>
    <div class="menu_section">
      <h3>EcoLogistic</h3>
      <ul class="nav side-menu">
        <li>
          <a href="central-ajuda.html">
            <i class="fa fa-bullhorn"></i>Central de Ajuda
          </a>
        </li>
        <li>
          <a href="sobre-nos.html"><i class="fa fa-users"></i>Sobre Nós
          </a>
        </li>
        <li>
          <a href="termos-de-uso.html">
            <i class="fa fa-book"></i>Termos de Uso
          </a>
        </li>
        <li>
          <a href="entre-em-contato.html">
            <i class="fa fa-envelope"></i>Entre em Contato
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>
