<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-leaf"></i> <span>EcoLogistic</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Bem-vindo(a),</span>
      <h2>User</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>Geral</h3>
      <ul class="nav side-menu">
        <li><a href="publicacao-trabalho.html">Publicações <span class="fa fa-archive"></span></a></li>
        <li><a href="anuncio-reciclavel.html">Meus Anúncios <span class="fa fa-bookmark"></span></a></li>
        <li><a href="inserir-anuncio.html">Inserir Anúncio <span class="fa fa-pencil"></span></a></li>
        <li><a href="perfil-usuario.html">Perfil <span class="fa fa-user"></span></a></li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>EcoLogistic</h3>
      <ul class="nav side-menu">
        <li><a href="central-ajuda.html">Central de Ajuda <span class="fa fa-bullhorn"></span></a></li>
        <li><a href="sobre-nos.html">Sobre Nós <span class="fa fa-users"></span></a></li>
        <li><a href="termos-de-uso.html">Termos de Uso <span class="fa fa-book"></span></a></li>
        <li><a href="entre-em-contato.html">Entre em Contato <span class="fa fa-envelope"></span></a></li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

