<div class="nav_menu">
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwsUeMCO-OWwtei37A6FYy6QFCb1m_2XD5EiACkcJaBjk7_Du5owYUs7nwDI2KOpGAEw4&usqp=CAU" alt="">Usuário
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
          <li>
            <a href="perfil-usuario.html">Perfil
              <span class="fa fa-user pull-right"></span>
            </a>
          </li>
          <li>
            <a href="configuracoes.html">Configurações
              <span class="fa fa-gear pull-right"></span>
            </a>
          </li>
          <li>
            <a href="central-ajuda.html">Ajuda
              <span class="fa fa-bullhorn pull-right"></span>
            </a>
          </li>
          <li>
            <a href="login.html">Sair
              <span class="fa fa-sign-out pull-right"></span>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="{% url 'index' %}">
          <i class="fa fa-home"></i>Início
        </a>
      </li>
      <li>
        <a href="publicacao-trabalho.html">
          <i class="fa fa-archive"></i>Publicações
        </a>
      </li>
      <li>
        <a href="anuncio-reciclavel.html">
          <i class="fa fa-bookmark"></i>Meus Anúncios
        </a>
      </li>
      <li>
        <a href="inserir-anuncio.html">
          <i class="fa fa-pencil"></i>Inserir Anúncio
        </a>
      </li>
    </ul>
  </nav>
</div>
